
a {
  font-size: 120px;
  text-decoration: none;
  color: #3498db;
  display: inline-block;
  font-weight: bold;
}

/*vloží obsah do elementu span, který ale nebude vidět (opacity.0)*/
a span:after {
  opacity: 0;
  /*přidá srdce k tlačítku*/
  content: '♡';
  /*přechod bude trvat 0,6 vteřiny*/
  transition: .6s all;
  color: #e74c3c;
}

/*způsobí pozvolnou změnu barvy po najetí myši a po kliknutí*/
a:hover,
a:visited {
  color: #e74c3c;
  transition: all 0.6s;
}

/*zviditelní srdce po najetí myši (opacity: 1)*/
a:hover span:after {
  opacity: 1;
  /*posune tlačítko o 36px doleva*/
  transition: all 0.6s;
  padding-left: 36px;
}

/*----------------------styly pro "body" a "h1"-----------------------*/
body {
  padding: 30px;
  text-align: center;
  font-family: 'Segoe UI', arial, sans-serif;
}

h1 {
  font-family: Arial, sans-serif;
  color: #3498db;
}



/*
<h1>Like button concept</h1>
<a href="#">Like<span></span></a>
<p>Created by Filip Vabroušek</p>

*/

// http://codepen.io/anon/pen/YqjOow
