
section {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 0.8em;
align-items: center;
justify-items: center;
width: 30em;
height: 10em;
background: #bdc3c7;
}

section > div {
background-color: #3498db;
width: 4em;
height: 4em;
}
